.box{
    background-color: greenyellow;
    padding: 100px;
    margin: 200px;
}
.box:hover{
    cursor: pointer;
    transform: translate(100px,100px);
    transform: rotate(45deg);
    transform: scale(2,5);
    transform: skew(-45deg);
}